<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Regression Model Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Regression Model Prediction</h2>
        <form action="/predict" method="POST">
            <label for="income">Average Area Income:</label>
            <input type="text" name="Avg. Area Income" required>

            <label for="age">Average Area House Age:</label>
            <input type="text" name="Avg. Area House Age" required>

            <label for="rooms">Average Area Number of Rooms:</label>
            <input type="text" name="Avg. Area Number of Rooms" required>

            <label for="bedrooms">Average Area Number of Bedrooms:</label>
            <input type="text" name="Avg. Area Number of Bedrooms" required>

            <label for="population">Area Population:</label>
            <input type="text" name="Area Population" required>

            <label for="model">Select Model:</label>
            <select name="model" required>
                {% for model in model_names %}
                    <option value="{{ model }}">{{ model }}</option>
                {% endfor %}
            </select>

            <button type="submit">Predict</button>
        </form>
        <form action="/results">
            <button type="submit" class="secondary-button">View Model Evaluation Results</button>
        </form>
    </div>
</body>
</html>
